body{
    background-image: url("water.jpg") ;
    background: cover ;
}
#clockContainer{
    margin: auto;
    border: 22px solid rgba(18, 161, 61, 0.788);
    /* height: 240px;
    width: 240px; */
    border-radius: 50%;
    height: 40vw;
    width: 40vw;
    background: url(clock.jpg) no-repeat;
    background-size: 100%;
    position: relative;
}
#hour,#minute,#second{
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;

}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 49.2%;
    /* display: none; */
    background: black;
    /* opacity: 0.8; */
}


#minute{
    width: 1%;
    height: 28%;
    top: 22%;
    left:49.5%;
    background: rgb(43, 41, 41);
    /* opacity: 0.8; */
    /* display: none; */
   
}
    


#second{
    
    width: 1%;
    height: 34%;
    top: 16%;
    left: 49.5%;
    opacity: 0.8;
    background: rgb(223, 50, 50);
}

    
    
   

